* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.scoreBtn,
.replyBtn,
.replyingTo,
.delete,
.edit,
button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  background-color: hsl(228, 33%, 97%);
}

.commentSection,
.comment,
.add-comment {
  display: flex;
  flex-direction: column;
}

.comment,
.reply,
.add-comment {
  background-color: hsl(0, 0%, 100%);
  padding: 13px;
  border-radius: 5px;
  margin: 15px;
}
.comment .info,
.reply .info,
.add-comment .info {
  align-items: center;
  margin-bottom: 10px;
}
.comment .info p,
.reply .info p,
.add-comment .info p {
  margin: 0 10px;
}
.comment .info :nth-child(2),
.reply .info :nth-child(2),
.add-comment .info :nth-child(2) {
  font-weight: 700;
}
.comment .info :last-of-type,
.reply .info :last-of-type,
.add-comment .info :last-of-type {
  color: hsl(211, 10%, 45%);
}
.comment .commentTxt,
.reply .commentTxt,
.add-comment .commentTxt {
  margin: 5px 0 15px;
  color: hsl(211, 10%, 45%);
}

.replies {
  border-left: 1px solid hsl(211, 10%, 45%);
  padding-left: 20px;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0);
}
.replies .reply {
  margin: 0 0 30px 0;
}
.replies .reply:last-of-type {
  margin-bottom: 0;
}

.info,
.buttons,
.score,
.replyTxt {
  display: flex;
  flex-direction: row;
}
.info .score,
.buttons .score,
.score .score,
.replyTxt .score {
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: hsl(228, 33%, 97%);
  padding: 5px;
  color: hsl(238, 40%, 52%);
}
.info .OpieBtn,
.buttons .OpieBtn,
.score .OpieBtn,
.replyTxt .OpieBtn {
  border: none;
  background-color: hsl(238, 40%, 52%);
  color: hsl(0, 0%, 100%);
  padding: 1px 7px 2px 7px;
  border-radius: 5px;
}
.info .scoreBtn,
.info .edit,
.info .delete,
.buttons .scoreBtn,
.buttons .edit,
.buttons .delete,
.score .scoreBtn,
.score .edit,
.score .delete,
.replyTxt .scoreBtn,
.replyTxt .edit,
.replyTxt .delete {
  padding: 5px;
  border: none;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0);
}
.info .replyBtn,
.buttons .replyBtn,
.score .replyBtn,
.replyTxt .replyBtn {
  padding: 7px;
  border: none;
  color: hsl(238, 40%, 52%);
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
}
.info .replyBtn img,
.buttons .replyBtn img,
.score .replyBtn img,
.replyTxt .replyBtn img {
  margin-right: 7px;
}
.info .edit,
.info .delete,
.buttons .edit,
.buttons .delete,
.score .edit,
.score .delete,
.replyTxt .edit,
.replyTxt .delete {
  font-weight: 700;
}
.info .edit img,
.info .delete img,
.buttons .edit img,
.buttons .delete img,
.score .edit img,
.score .delete img,
.replyTxt .edit img,
.replyTxt .delete img {
  margin-right: 7px;
}
.info .edit,
.buttons .edit,
.score .edit,
.replyTxt .edit {
  color: hsl(238, 40%, 52%);
}
.info .delete,
.buttons .delete,
.score .delete,
.replyTxt .delete {
  color: hsl(358, 79%, 66%);
}

.buttons {
  justify-content: space-between;
}

.replyTxt {
  color: hsl(211, 10%, 45%);
  margin-bottom: 15px;
}
.replyTxt .replyingTo {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
  margin-right: 5px;
}

.add-comment textarea {
  min-height: 150px;
  padding: 5px;
  font-family: inherit;
  border-radius: 5px;
}
.add-comment span {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}
.add-comment span button {
  padding: 15px 25px;
  font-weight: 700;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(238, 40%, 52%);
  border-radius: 5px;
  text-transform: uppercase;
}

.warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: hidden;
}
.warning .warningtxt {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  width: 350px;
  height: 250px;
  padding: 23px;
  color: hsl(212, 24%, 26%);
}
.warning .warningtxt span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 11px;
}
.warning .warningtxt button {
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 5px 11px;
  border-radius: 5px;
}
.warning .warningtxt .cancelWarning {
  background-color: hsl(211, 10%, 45%);
}
.warning .warningtxt .confirmWarning {
  background-color: hsl(358, 79%, 66%);
}/*# sourceMappingURL=styles.css.map */