$modBlue: hsl(238, 40%, 52%);
$red: hsl(358, 79%, 66%);
$lightGreyBlue: hsl(239, 57%, 85%);
$lightRed: hsl(357, 100%, 86%);
$darkBlue: hsl(212, 24%, 26%);
$greyblue: hsl(211, 10%, 45%);
$lightGrey: hsl(223, 19%, 93%);
$vLightGrey: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // scroll-behavior: smooth;

}
html {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
body {
    min-height: 100vh;
    background-color: $vLightGrey;
    display: flex;
    flex-direction: column;
}
.visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip-path: inset(50%);
    /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap;
    /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}
//all clickables
.scoreBtn,
.replyBtn,
.replyingTo,
.delete,
.edit,
button {
    cursor: pointer;
}
form button {
    &:hover {
        background-color: $lightGreyBlue;
    }
}
.scoreBtn {
    fill: $lightGreyBlue;
    &:hover {
        fill: $modBlue;
    }
}
.largescreenInfo,
.largescreenScore {
    display: none;
}
main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    background-color: $vLightGrey;
    margin: 0 auto;
    padding: 0 50px;
    max-width: 950px;
}
.commentSection,
.comment,
.add-comment,
.reply {
    display: flex;
    flex-direction: column;
}
//wrappers
.comment,
.reply,
.add-comment,
.edit-comment {
    background-color: $white;
    padding: 13px;
    border-radius: 5px;
    margin: 15px;
    .smallscreenInfo {
        align-items: center;
        margin-bottom: 10px;
        p {
            margin: 0 10px;
        }
        //target username
        :nth-child(2) {
            font-weight: 700;
        }
        //target createdAt
        :last-of-type {
            color: $greyblue;
        }
    }
    .commentTxt {
        margin: 5px 0 15px;
        color: $greyblue;
    }
}
//wraps replies
.replies {
    border-left: 1px solid $greyblue;
    padding-left: 20px;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0);
    //individual reply
    .reply {
        margin: 15px 0 30px 0;
    }
    .reply:last-of-type {
        margin-bottom: 0;
    }
}
.smallscreenInfo,
.buttons,
.score,
.replyTxt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.smallscreenInfo,
.buttons,
.score,
.replyTxt {
    //wraps score and buttons
    .score {
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: $vLightGrey;
        padding: 5px;
        color: $modBlue;
    }
    //'you'
    .OpieBtn {
        border: none;
        background-color: $modBlue;
        color: $white;
        padding: 1px 7px 2px 7px;
        border-radius: 5px;
    }
    //buttons
    .scoreBtn,
    .editbuttons,
    .edit,
    .delete {
        padding: 5px;
        border: none;
        margin: 5px;
        background-color: rgba(0, 0, 0, 0);
    }
    .replyBtn {
        padding: 7px;
        border: none;
        font-weight: 700;
        background-color: rgba(0, 0, 0, 0);
        svg {
            margin-right: 3px;
        }
    }
    .edit,
    .delete {
        font-weight: 700;
        svg {
            margin-right: 3px;
        }
    }
    .edit,
    .replyBtn {
        color: $modBlue;
        fill: $modBlue;
        &:hover {
            color: $lightGreyBlue;
            fill: $lightGreyBlue;
        }
    }
    .delete {
        color: $red;
        fill: $red;
        &:hover {
            color: $lightRed;
            fill: $lightRed;
        }
    }
}
//wrapper
.buttons {
    justify-content: space-between;
}
//component
.replyTxt {
    color: $greyblue;
    margin-bottom: 15px;
    .replyingTo {
        color: $modBlue;
        font-weight: 700;
        margin-right: 5px;
    }
}
//add comment component
.add-comment,
.edit-comment {
    textarea {
        min-height: 150px;
        padding: 5px;
        font-family: inherit;
        border-radius: 5px;
    }
    >div {
        display: flex;
        margin-top: 15px;
        align-items: center;
        justify-content: space-between;
    }
    button {
        padding: 15px 25px;
        font-weight: 700;
        border: none;
        color: $white;
        background-color: $modBlue;
        border-radius: 5px;
        text-transform: uppercase;
    }
}
.edit-comment {
    display: flex;
    flex-direction: column;
    button {
        margin-top: 15px;
        margin-left: auto;
    }
}

.warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
    .warningtxt {
        position: fixed;
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        background-color: $white;
        margin: auto;
        width: 350px;
        max-height: 250px;
        padding: 23px;
        color: $darkBlue;
        .buttonWrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 11px;
        }
        button {
            color: $white;
            border: none;
            padding: 5px 11px;
            border-radius: 5px;
        }
        .cancelWarning {
            background-color: $greyblue;
            &:hover {
                background-color: $darkBlue;
            }
        }
        .confirmWarning {
            background-color: $red;
            &:hover {
                background-color: $lightRed;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .comment,
    .reply {
        flex-direction: row;
    }
    .smallscreenScore {
        width: 100%;
        .buttons {
            display: none;
        }
    }
    .smallscreenButtons {
        display: none;
    }
    .largescreenInfo {
        display: flex;
        margin-left: auto;
    }
    .largescreenScore {
        display: flex;
        justify-content: left;
        .buttons {
            align-items: flex-start;
        }
        .score {
            display: flex;
            flex-direction: column;
            margin: 0 15px 3px 0 !important;
            height: auto;
        }
    }
}